bin
obj
.idea
.DS_Store
/.vs/RealTimeChatApp/config/applicationhost.config
/.vs/RealTimeChatApp/DesignTimeBuild/.dtbcache.v2
/.vs/RealTimeChatApp/FileContentIndex/4cc852d0-90a6-4dad-a9e8-328b262494e5.vsidx
/.vs/RealTimeChatApp/v17/.suo
/.vs/RealTimeChatApp/FileContentIndex/12cb687b-b6d2-4e39-ba02-4c429b34fd21.vsidx
